<div id="{{even?'even':'odd'}}" class="container">
  @if (card.src) {
    <div>
      <img ngSrc="{{card.src}}" width="256" height="357" alt="{{card.name}}"/>
    </div>
  }
  <div>
    <h2>{{card.name}}</h2>
    <p>{{card.name}} {{card.cost}}</p>
    <p>{{card.type}}</p>
    @if (card.oracle) {
      <p>{{card.oracle}}</p>
    }
    <!-- If a card has Toughness assigned, it must also have Power, so I only have to check one. -->
    @if (card.power) {
      <p>{{card.power}}/{{card.toughness}}</p>
    }
  </div>
</div>
