<div id="{{even?'even':'odd'}}" class="container" [appHoverHighlight]="'lightblue'" >
  @if (card.source) {
    <div>
      <img ngSrc="{{card.source}}" width="256" height="357" alt="{{card.name}}"/>
    </div>
  }
  <div>
    <h2>{{card.name | titlecase }}</h2>
    <p>{{card.name}} {{card.cost | uppercase }}</p>
    <p>{{card.type}}</p>
    @if (card.oracle) {
      <p>{{card.oracle}}</p>
    }
    <!-- If a card has Toughness assigned, it must also have Power, so I only have to check one. -->
    @if (card.power) {
      <p>{{card | powerToughness}}</p>
    }
    <p>Lowest printing: {{card.printing | currency: 'USD'}}</p>
  </div>
</div>
