<h2>Add / Edit Section</h2>
<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
  <ul>
    <li>
      <label for="color">Color </label>
      <input type="text" name="color" id="color" formControlName="color">
    </li>
    <li>
      <label for="name">Name </label>
      <input type="text" name="name" id="name" formControlName="name">
    </li>
    <li>
      <label for="type">Type </label>
      <input type="text" name="type" id="type" formControlName="type">
    </li>
    <li>
      <label for="cost">Cost </label>
      <input type="text" name="cost" id="cost" formControlName="cost">
    </li>
    <li>
      <label for="oracle">Oracle </label>
      <input type="text" name="oracle" id="oracle" formControlName="oracle">
    </li>
    <li>
      <label for="power">Power </label>
      <input type="text" name="power" id="power" formControlName="power">
    </li>
    <li>
      <label for="toughness">Toughness </label>
      <input type="text" name="toughness" id="toughness" formControlName="toughness">
    </li>
    <li>
      <label for="source">Src </label>
      <input type="text" name="source" id="source" formControlName="source">
    </li>
    <li>
      <label for="printing">Price </label>
      <input type="text" name="printing" id="printing" formControlName="printing">
    </li>
  </ul>
  <button type="submit">Submit </button>
</form>
