* {
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  background: gray;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}
footer {
  margin-top: auto;
  text-align: center;
  background-color: gray;
  padding: 5px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
#card {
  width: 200px;
  height: 300px;
  margin: 5px;
  padding: 5px;
}

.blue {
  border: solid blue;
}

.black {
  border: solid black;
}

.green {
  border: solid green;
}

.white {
  border: solid yellow;
}

.red {
  border: solid red;
}

.devoid {
  border: solid gray;
}
